* {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

#app {
  background: #ccc;
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(21, 1fr);
}

.snake {
  background-color: darkcyan;
}

.food {
  background-color: gold;
}

.snake,
.food {
  border: 0.2vmin solid #000;
}
